# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform lock files (some teams include this, but generally better to commit it)
# .terraform.lock.hcl

# Ignore environment variables
.env

# Ignore node_modules
node_modules/